body, html {
  background-color: white;
  height: 100%;
}
  
.bg { 
  background-color: white;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
    background-color: white;
    margin-top: 30px;
}

#about-me {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.main-section {
    margin-top: 10px;
}

/* Container holding the image and the text */
.work1 {
    position: relative;
  }
  
/* Text */
.text-block {
  position: absolute;
  bottom: 20px;
  width: 100%;
  background-color: white;
  color: white;
  padding: 10px;
}

.auth-image {
  margin-right: 20px;
  height: 200px;
  width: auto;
  float: left;
}

#footer {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  background-color: #212529;
  text-align: center;
}


