body, html {
    height: 100%;
  }
  
  .bg { 
    /* The image used */
    background-image: url("images/concrete_seamless.png");
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.container {
    background-color: #f8f9fa;
    margin-top: 40px;
}

.main-section {
    color: #4AAAA5;
    margin-top: 10px;
}

  /* Container holding the image and the text */
.work1 {
    position: relative;
  }
  
  /* Text */
  .text-block {
    position: absolute;
    bottom: 20px;
    width: 100%;
    background-color: #4AAAA5;
    color: white;
    padding: 10px;
}